:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff7f7;
    
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    background-color: #DD4A7C;
}

a {
    color: #FFF7F7;
    font-weight: 600;
    text-decoration: none;
}

#header {
    text-align: center;
}

#navigation-bar {
    /* Style using CSS Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    width: 600px;
    height: 100px;

    border: 3px dashed #C13564;
    border-radius: 10px;

    background-color: #FFF7F7;
}

#linkDiv {
    padding: 2px 8px;
    
    border: 3px solid #C13564;
    border-radius: 4px;

    background-color: #DD4A7C;
}
