:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #272525;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;

    background-color: #8CD1AC;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-title {
    text-align: center;
    margin: 0 0 40px 0;
}

#form {
    display: flex;

    width: 360px;
    height: auto;
    display: flex;
    flex-direction: column;

    padding: 60px 60px;

    border-radius: 40px;

    background-color: #FFFFFF;

    label {
        font-weight: 600;
        font-size: 14px;
    }

    input:not([type="radio"]), select {
        margin: 6px 0 12px 0;

        width: 50%;
        height: 24px;

        padding: 1% 2%;

        border: 0;
        border-bottom: 1px solid black;

        outline: none;

        background-color: #FFFFFF;
    }
    select {
        width: 54%;
        height: 32px;
    }
}

#submit-button {
    margin-top: 20px;

    height: 40px;
    width: 40%;
    
    border: 0;
    border-radius: 20px;

    color: #57c188;
    font-weight: bold;
    font-size: 16px;
    background-color: #FFFFFF;

    cursor: pointer;
}

/* Remove arrows in <input> for type="number" */
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}